:root {
  --white: rgb(201, 201, 161, 0.7);
  --black: rgb(120, 158, 83);
  --highlighted: orange;
  --white-figures: rgba(255, 255, 255);
  --black-figures: rgba(0, 0, 0, 0.7);
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  position: relative;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  min-width: 80vh;
  min-height: 80vh;
  border: 1px solid var(--black);
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vh;
  height: 10vh;
  text-align: center;
  line-height: 10vh;
  font-size: 2vh;
  cursor: pointer;
  transition: background-color 1s;
  background-color: var(--white);
}

.square .fas {
  font-size: 6.5vh;
}
.dark {
  background-color: var(--black);
}

.highlighted {
  background-color: var(--highlighted);
}

.black {
  color: var(--black-figures);
}

.white {
  color: var(--white-figures);
}
